@media screen and (max-width: 600px) {
    /* For mobile phones: */
    #combinacion {
        width: 100%;
    }
}
body {
    background-image: url('img/fondo.jpg');
    background-size: cover;
    color: azure; /* Cambio de color de texto */
}
.codigo { 
    margin-left: 30%;
    color: azure;
    font-size: 30px;
    padding: 10px;
}
.secreto {
    border: 10px ridge rgb(0, 51, 102); /* Cambio de estilo de borde */
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgb(0, 102, 204); /* Cambio de color de fondo */
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding: 0 90px;
}
.numeros {
    text-align: center;
}
.digito {
    border-radius: 50%;
    font-size: 30px;
    color: azure;
    width: 70px;
    height: 70px;
    border: 5px outset rgb(0, 51, 102); /* Cambio de estilo de borde */
    background: linear-gradient(rgb(51, 153, 255), rgb(0, 102, 204)); /* Cambio de gradiente de fondo */
}
.accion {
    justify-content: space-around;
    border-radius: 50%;
    border: 5px outset transparent; /* Cambio de estilo de borde */
    background: linear-gradient(rgb(51, 153, 255), rgb(0, 102, 204)); /* Cambio de gradiente de fondo */
}
.img_boton {
    width: 30%;
}
#display {
    margin-bottom: 15px;
    text-align: center;
}
#vidas {
    width: 55px;
}
#display_errores {
    color: azure;
    font-size: 30px;
    position: absolute;
    text-align: right;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cronometro {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 30px;
    color: azure;
    padding: 10px 0;
    background: rgb(0, 102, 204); /* Cambio de color de fondo */
    border-radius: 50px;
    border: 5px ridge rgb(0, 51, 102); /* Cambio de estilo de borde */
}
#combinacion {
    margin-top: 5%;
    border: 10px double rgb(0, 51, 102); /* Cambio de estilo de borde */
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: auto;
    background: linear-gradient(rgb(0, 102, 204), rgb(0, 51, 102)); /* Cambio de gradiente de fondo */
    border-radius: 50px;
}
.contenedor {
    margin-left: 50%;
    width: auto;
    position: relative;
    display: inline-block;
    align-content: center;
    margin-bottom: 10px;
}
