/* Estilo general */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

/* Contenedor principal */
.fila {
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilo de las columnas */
.columna {
  float: left;
  padding: 20px;
  min-height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Columna izquierda */
.izquierda {
  width: 20%;
  background-color: #f39c12; /* Naranja */
  color: #fff;
}

/* Columna derecha */
.derecha {
  width: 70%;
  background-color: #3498db; /* Azul */
  color: #fff;
}

/* Estilo para imágenes */
img {
  max-width: 175%;
  height: auto;
  border-radius: 5px;
}

/* Estilo para sección de imágenes responsive */
.iresponsive {
  padding: 10px;
  float: left;
  width: 50%;
}

/* Estilo para enlaces */
a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffeb3b; /* Amarillo */
}

/* Media query para diseño responsive */
@media screen and (max-width: 768px) {
  .columna {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
  }

  .iresponsive {
      width: 100%;
  }
}
