/* Estilo general */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px; /* Tamaño de fuente base */
  
}
/* Estilo para el recuadro del título */
.recuadro {
  background-color: #ad1519; /* Color de fondo rojo */
  color: #fff; /* Color del texto blanco */
  padding: 20px; /* Relleno */
  text-align: center; /* Centrar el texto */
}


/* Contenedor principal */
.fila {
  max-width: 2400px;
  margin: 0 auto;
}

/* Estilo de las columnas */
.columna {
  float: left;
  padding: 1%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Columna izquierda */
.izquierda {
  width: 22%;
  background-color: #f3ef12; /* Amarillo */
  color: #000000;

}

/* Columna derecha */
.derecha {
  width: 74%;
  background-color: #3498db; /* Azul */
  color: #fff;
  margin-bottom: 2%;
}

/* Estilo para sección de imágenes responsive */
.iresponsive {
  padding: 5px;
  float: left;
  width: 100%; /* Hacer que la sección ocupe el 100% del contenedor */
  margin-left: auto; /* Centrar la sección horizontalmente */
  margin-right: auto; /* Centrar la sección horizontalmente */
}

/* Estilo para imágenes */
img {
  width: 80%; /* Hacer que la imagen ocupe el 80% del contenedor */
  height: auto; /* Mantener la proporción original de la imagen */
  display: block; /* Centrar la imagen */
  margin-right: 10%; /* Centrar la imagen */
  margin-left: 6%;
  margin-bottom: 10px;
}

a {
  text-decoration: underline;
  color: #000000;
  transition: color 0.3s;
  font-size: 22px; /* Tamaño de fuente para enlaces */

}


a#atras{
  margin-top: 10%;
  color: #fff;
 
}

a:hover {
  color: #3498db; /* Cambia el color del texto al pasar el ratón */
}

/* Estilo para la lista */

/* Estilo para los elementos de la lista */
ul li {
  margin-bottom: 26px; /* Ajusta el espacio entre elementos de la lista */
  font-size: 22px; /* Tamaño de fuente para elementos de la lista */
}
p{
  margin-left: 4%;
  margin-bottom: 26px;
  font-size: 22px;
}
h1{
  margin-left: 2%;
}

h2{
  margin-left: 2%;
}
/* Media query para diseño responsive */
@media screen and (max-width: 768px) {
  .columna {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
  }

  .iresponsive {
      width: 100%;
  }
}
